
TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/IMCore.framework/IMCore

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/ImSDK

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/AVMultiInvitProtocols.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/ImSDK.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/IMSdkComm.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/IMSdkInt.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/ImSDKSimple.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMAVMeasureSpeeder.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMCallback.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMCallbackExt.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMCodingModel.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMComm.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMConversation.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMFileManager.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMFriendshipManager.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMFriendshipProxy.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMGroupAssistant.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMGroupManager.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMManager.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMManagerExt.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMMessage.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMRelay.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/ImSDK.framework/Headers/TIMVersion.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/Headers/IMSDKBugly.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/IMSDKBugly

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/IMSDKBugly.framework/Resources/Info.plist

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/QALSDK.framework/Headers/QalSDKCallbackProtocol.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/QALSDK.framework/Headers/QalSDKProxy.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/QALSDK.framework/QALSDK

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSAccountHelper.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSErrInfo.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSExchangeTicketListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSGuestLoginListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSGuestRegListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSHelper.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSLoginHelper.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSOpenAccessTokenListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSOpenBindListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSOpenLoginListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSOpenQueryListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSPwdLoginListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSPwdRegListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSPwdResetListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSRefreshTicketListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSSmsLoginListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSSmsRegListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSStrAccountRegListener.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSTokenInfo.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/TLSUserInfo.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/Headers/version.h

TCShow/TCAdapter/TIMAdapter/Framework/IMSDK/TLSSDK.framework/TLSSDK

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/AVFoundationEx

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/AudioHelper.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/AudioRecordAndPlayer.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/AVFoundationEX.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/AVPublicNotification.h

TCShow/TCShowWorkSpace.xcworkspace/xcuserdata/alexichen.xcuserdatad/UserInterfaceState.xcuserstate

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/QAVSDK

TCShow/TCAdapter/TCAVIMAdapter/Libs/AVFoundationEx.FrameWork/Headers/VideoCapture.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeDirectory

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeRequirements

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeResources

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/_CodeSignature/CodeSignature

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVAudioCtrl.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVCommon.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVContext.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVEndpoint.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVError.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVMultiRoom.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVRoom.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVSDK.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Headers/QAVVideoCtrl.h

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Info.plist

TCShow/TCAdapter/TCAVIMAdapter/Libs/QAVSDK.framework/Modules/module.modulemap

TCShow/TCShowWorkSpace.xcworkspace/xcuserdata/alexichen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
